

.seeMore:hover {
  cursor: pointer;
}
.radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 5px;
  background-color: #fff;
}

.radio:focus {
  outline: none;
}

.radio[aria-checked="true"] {
  background-color: #ccc;
}

#scroll-Top  .return-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  width: 40px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  z-index:15;
  color: #fff;
  background:#00d8ff;
  border:1px solid #00d8ff;
  border-radius:5px;
  -webkit-transition: .5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition: .5s;
  z-index: 2;

}

#scroll-Top  .return-to-top:hover {
  background:#2cdbb5;
  color: #fff;
  border-radius:50%;

}
