<div class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div
          class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
          <h4>Khuyến mại</h4>
          <p>Đăng kí trở thành khách hàng thân thiết và được giảm giá lần mua tiếp theo.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <form>
          <div
            class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
            <input id="newsletter_email" type="email" placeholder="Email" required="required"
                   data-error="Valid email is required.">
            <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300"
                    style="background: #4169E1"
                    value="Submit">Gửi
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Site footer -->
<footer class="site-footer" style="background: lightskyblue">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h5 style="color: #1e1e27; font-weight: bold">Thông tin giới thiệu</h5>
        <p class="text-justify" style="color: #1e1e27">Codegym.vn <i>Chuỗi cung cấp đồng hồ chất lượng.</i> Đồng hồ đeo
          tay là một kiệt tác của những nhà thiết kế vĩ đại, họ đã chế tác ra những chiếc đồng hồ không chỉ để đếm giờ
          một cách chính xác mà còn mang lại niềm tự hào cho những ai sở hữu nó. Ngoài vẻ đẹp và sự sang trọng, bạn đã
          thực sự hiểu về chiếc đồng hồ mà mình đang sở hữu? Chúng tôi xin tổng hợp một số kiến thức cơ bản nhất về các
          loại đồng hồ thịch hành ngày nay, hy vọng sẽ giúp bạn hiểu hơn về đồng hồ để thêm yêu quý và tự hào về chiếc
          đồng hồ mình đang có.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6 style="color: #1e1e27; font-weight: bold">Hướng dẫn</h6>
        <ul class="footer-links">
          <li><a href="">Thông tin liên hệ</a></li>
          <li><a href="">Hỏi đáp - Góp ý</a></li>
          <li><a href="">Chính sách đổi trả</a></li>
          <li><a href="">Chính sách bảo hành</a></li>
          <li><a href="">Thanh toán & Trả góp</a></li>
          <li><a href="">Liên hệ hợp tác</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6 style="color: #1e1e27; font-weight: bold">Về TickTock</h6>
        <ul class="footer-links">
          <li><a href="">Giới thiệu về TickTock</a></li>
          <li><a href="">Giấy chứng nhận</a></li>
          <li><a href="">Khách hàng nói gì</a></li>
          <li><a href="">Điều khoản sử dụng</a></li>
          <li><a href="">Tuyển dụng</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Codegym. &copy; 2023 All Rights Reserved by
          <a href="#">Codegym</a>.vn
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
