<div class="container">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-9">
      <div class="card mt-5" style="border-radius: 15px;">
        <div class="card-body " style="box-shadow: 0 0 20px 0 #253365;border-radius: 15px">
          <form>
            <h1 style="text-align: center; margin-top: 30px; margin-bottom: 50px">Thêm sân bóng</h1>
            <div class="row" [formGroup]="watchForm" (ngSubmit)="create()">
              <div class="col-4">
                <label style="font-weight: bold;margin-left: 60px" for="name">Tên đồng hồ:</label>
              </div>
              <div class="col-6">
                <input class="form-control" type="text" formControlName="name" id="name">
              </div>
              <div class="col-2">
              </div>
            </div>
            <div class="row" style="margin-top: 30px">
              <div class="col-4">
                <label style="font-weight: bold;margin-left: 60px" for="price">Giá:</label>
              </div>
              <div class="col-6">
                <input class="form-control" type="number" formControlName="price" id="price">
              </div>
              <div class="col-2">
              </div>
            </div>
            <div class="row" style="margin-top: 30px">
              <div class="col-4">
                <label style="font-weight: bold;margin-left: 60px" for="origin">Nguồn gốc:</label>
              </div>
              <div class="col-6">
                <input class="form-control" type="text" formControlName="origin" id="origin">
              </div>
              <div class="col-2">
              </div>
            </div>
            <div class="row" style="margin-top: 30px">
              <div class="col-4">
                <label style="font-weight: bold;margin-left: 60px" for="face">Chất liệu mặt:</label>
              </div>
              <div class="col-6">
                <input class="form-control" type="text" formControlName="face" id="face">
              </div>
              <div class="col-2">
              </div>
            </div>
            <div class="row" style="margin-top: 30px">
              <div class="col-4">
                <label style="font-weight: bold;margin-left: 60px" for="strapType">Loại dây:</label>
              </div>
              <div class="col-6">
                <input class="form-control" type="text" id="strapType" formControlName="strapType">
              </div>
              <div class="col-2">
              </div>
            </div>
            <div class="row" style="margin-top: 30px">
              <div class="col-4">
                <label style="font-weight: bold;margin-left: 60px" for="color">Màu sắc:</label>
              </div>
              <div class="col-6">
                <input class="form-control" id="color" type="text" formControlName="color">
              </div>
              <div class="col-2">
              </div>
            </div>
            <div class="row" style="margin-top: 30px">
              <div class="col-4">
                <label style="font-weight: bold;margin-left: 60px" for="note">Note:</label>
              </div>
              <div class="col-6">
                <input class="form-control" accept=".image/png" multiple (change)="showPreview($event)" type="text" id="note" formControlName="note">
              </div>
              <div class="col-2">
              </div>
            </div>
            <div class="row" style="margin-top: 30px">
              <div class="col-4">
                <label style="font-weight: bold;margin-left: 60px">Hãng đồng hồ:</label>
              </div>
              <div class="col-6">
                <select class="form-select" id="">
                  <option *ngFor="let watchType of watchTypeList" [value]="watchType.id">{{watchType.name}}</option>
                </select>
              </div>
              <div class="col-2">
              </div>
            </div>

            <div align="center" class="px-5 py-4" style="margin-top: 30px">
              <button type="submit" class="btn btn-primary">
                Lưu thông tin
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
